{% block title %} Gestion particuliers {% endblock %}

{% extends 'base_backoffice.html.twig' %}


{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 ">


                {% for user in listUsers %}

                    <div class="card">
                        <h3 class="card-header">{{ user.prenom }} {{ user.nom }}</h3>
                        <div class="card-block">
                            <h4 class="card-title">{{ user.pseudo }}</h4>
                            <p class="card-text">Date de naissance : {{ user.birthdate |date('d/m/Y') }}</p>


                            <p class="card-text">Email : {{ user.email }}</p>
                            <a href="#" class="btn btn-primary">Désinscrire</a>
                        </div>
                    </div>


                    <hr>
                {% endfor %}


            </div>

        </div>

    </div>


{% endblock %}