{% block title %} Validations {% endblock %}
{% extends 'base_backoffice.html.twig' %}
{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 ">
                <H2>Mes demandes d'inscription naturaliste en attente</H2>

                  {% for user in listUsers %}
                      <p>Nom :{{ user.prenom }}</p>
                      <p>Prénom :{{ user.nom }}</p>
                      <p>Pseudo :{{ user.pseudo }}</p>
                      <p>Date de naissance :{{ user.birthdate |date('d/m/Y')}}</p>
                      <p>Email :{{ user.email }}</p>

                      <form action="" method ="post">
                        <input type="submit" class="btn btn-success" value="valider">

                      </form>

                      <form action="">
                      <button type="submit" class="btn btn-danger">refuser</button>
                      </form>
                      <button class="btn btn-primary">envoyer un email</button>
                      <hr>
                  {% endfor %}



            </div>

                </div>

            </div>


{% endblock %}