{% block title %} Mon compte {% endblock %}
{% extends 'base.html.twig' %}
{% block body %}



        <div class="row">
            <div class="titre-h2"><h2>Mon espace</h2></div>
        </div>
    <div class="titre-h2" id ="map"></div>
        <div class="row">
            <div class="txt-bienvenue">
                <h3>Bonjour, <strong>{{ app.user.nom }} {{ app.user.prenom }}</strong> </br> Bienvenue dans votre espace
                </h3>
            </div>

            {% if app.session.flashBag.has('success') %}
                <div class="txt-bienvenue" id="delais">
                    {% for flash in app.session.flashBag.get('success') %}
                        <h3>{{ flash }}</h3>
                    {% endfor %}
                </div>
            {% endif %}

        </div>


    <div class="container accordeon-box">
        <div class="row">

            <button class="accordion">Mon profil</button>
            <div class="panel">
                <form class="acc-profil-form" method="post"
                      action="{{ path('nao.modifier.compte',{ user: app.user.id}) }}">
                    <div class="row acc-profil">
                        <div class="col">
                            <div class="form-group">
                                <label for="prenom">Prénom* </label>
                                <input type="text" class="form-control" name="prenom" id="prenom"
                                       value="{{ app.user.prenom }}">
                            </div>
                            <div class="form-group">
                                <label for="nom">Nom* </label>
                                <input type="text" class="form-control" name="nom" id="nom" value="{{ app.user.nom }}">
                            </div>
                            <div class="form-group">
                                <label for="pseudo">Pseudo </label>
                                <input type="text" class="form-control" id="pseudo" name="pseudo"
                                       value="{{ app.user.pseudo }}">
                            </div>
                            <div class="form-group">
                                <select class="form-control" name="role" id="sel1">

                                    <option {% if(app.user.roles[0]=="ROLE_USER") %} selected
                                                                                     {% endif %}value="Particulier">
                                        Particulier
                                    </option>
                                    <option {% if(app.user.roles[0]=="ROLE_NATURALIST") %} selected {% endif %}
                                            value="Naturaliste">Naturaliste
                                    </option>
                                </select>
                            </div>
                            <div class="checkbox">
                                <label class="checkbox-inline">
                                    <input type="checkbox" value="" name="cgu" class="check-cgu"> J'accepte <span>les Conditions générales d'utilisation</span>
                                </label>
                            </div>
                            <button type="submit" class="btn btn-default">Valider</button>
                            <a href="">Supprimer mon compte</a>

                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="email">Adrese E-mail*</label>
                                <input type="email" class="form-control" name="email" id="email"
                                       value="{{ app.user.email }}">
                            </div>
                            <div class="form-group">
                                <label for="date">Date de naissance </label>
                                <input type="text" class="form-control" name="date_de_naissance" id="dob"
                                       value="{{ app.user.birthdate | date('d-m-Y') }}">
                            </div>
                            <div class="form-group">
                                <label for="profession">Profession </label>
                                <input type="text" name="profesion" class="form-control" id="profession"
                                       value="Professeur de SVT">
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <button class="accordion">Les dernières observations</button>

<div class="panel">

<div id="map">a</div>
</div>

            <div class="panel content-box-last-observation">



                {% for observation in lastObservations %}
              <div class="card box-card">
                        <img class="card-img-top" src="{{ asset('uploads/observation/' ~ observation.photo) }}"
                             alt="Card image cap">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong
                                        style="text-transform: uppercase">{{ observation.nomEspece }}</strong></li>
                            <li class="list-group-item">{{ observation.nbIndividus }} individus</li>
                            <li class="list-group-item">{{ observation.dateObservation | date('d-m-Y') }}</li>
                            <li class="list-group-item">Coordonnées GPS : {{ observation.latitude }} ,
                                {{ observation.longitude }} </li>
                            <li class="list-group-item">{{ observation.user.nom }} {{ observation.user.prenom }}</li>
                        </ul>
                        <a href="#" class="btn btn-primary btn-right-view">Voir</a>
                    </div>
                {% endfor %}

            </div>


            {% if(app.user.roles[0]=='ROLE_USER') %}
                <button class="accordion">Mes observations validées <span class="badge badge-success">{{ observations |length }}</span></button>
                <div class="panel content-box-my-observation">
                    {% for observation in observations %}
                        <div class="card box-card">
                            <img class="card-img-top" src="{{ asset('uploads/observation/' ~ observation.photo) }}"
                                 alt="Card image cap">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">{{ observation.nomEspece }}</li>
                                <li class="list-group-item">{{ observation.nbIndividus }}</li>
                                <li class="list-group-item">{{ observation.dateObservation | date('d-m-Y') }}</li>
                                <li class="list-group-item">Coordonnées GPS : {{ observation.latitude }} ,
                                    {{ observation.longitude }} </li>
                                <li class="list-group-item">{{ observation.user.nom }} {{ observation.user.prenom }}</li>
                            </ul>
                        </div>
                    {% endfor %}
                </div>

                <button class="accordion">Mes observations en attente <span class="badge badge-info">{{ observationsEnAttentes |length }}</span></button>
                <div class="panel content-box-my-observation">
                    {% for observation in observationsEnAttentes %}
                        <div class="card box-card">
                            <img class="card-img-top" src="{{ asset('uploads/observation/' ~ observation.photo) }}"
                                 alt="Card image cap">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">{{ observation.nomEspece }}</li>
                                <li class="list-group-item">{{ observation.nbIndividus }}</li>
                                <li class="list-group-item">{{ observation.dateObservation | date('d-m-Y') }}</li>
                                <li class="list-group-item">Coordonnées GPS : {{ observation.latitude }} ,
                                    {{ observation.longitude }} </li>
                                <li class="list-group-item">{{ observation.user.nom }} {{ observation.user.prenom }}</li>
                            </ul>
                        </div>
                    {% endfor %}
                </div>
                <button class="accordion display-none-mobile">Mes observations refusées <span class="badge badge-danger"> {{ mesObervationRefuser |length }}</span></button>
                <div class="panel content-box-my-observation">
                    {% for observation in mesObervationRefuser %}
                        <div class="card box-card">
                            <img class="card-img-top" src="{{ asset('uploads/observation/' ~ observation.photo) }}"
                                 alt="Card image cap">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">{{ observation.nomEspece }}</li>
                                <li class="list-group-item">{{ observation.nbIndividus }}</li>
                                <li class="list-group-item">{{ observation.dateObservation | date('d-m-Y') }}</li>
                                <li class="list-group-item">Coordonnées GPS : {{ observation.latitude }} ,
                                    {{ observation.longitude }} </li>
                                <li class="list-group-item">{{ observation.user.nom }} {{ observation.user.prenom }}</li>
                            </ul>
                        </div>
                    {% endfor %}
                </div>


            {% endif %}

            {% if(app.user.roles[0]=='ROLE_NATURALIST') %}
                {# Observations validé#}
                <button class="accordion">Mes observations validées  <span class="badge badge-success">{{valideObservations|length }}</span></button>
                <div class="panel content-box-attente-observation">
                    {% for observation in valideObservations %}

                        <div class="card box-card">
                            <img class="card-img-top" src="{{ asset('uploads/observation/' ~ observation.photo) }}"
                                 alt="Card image cap">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    {% if observation.validerPar.nom is defined %}
                                        <center>Validé par {{ observation.validerPar.nom }}</center>
                                    {% endif %}

                                </li>
                                <li class="list-group-item">{{ observation.nomEspece }}</li>
                                <li class="list-group-item">{{ observation.nbIndividus }} individus</li>
                                <li class="list-group-item">{{ observation.dateObservation | date('d-m-Y') }}</li>
                                <li class="list-group-item">Coordonnées GPS : {{ observation.latitude }} ,
                                    {{ observation.longitude }} </li>
                                <li class="list-group-item">{{ observation.user.nom }} {{ observation.user.prenom }}</li>
                            </ul>
                            <a href="#" class="btn btn-primary btn-right-view">Voir</a>

                        </div>
                    {% endfor %}
                </div>
                {#Observation refuse#}
                <button class="accordion display-none-mobile">Mes observations refusées <span class="badge badge-danger">{{ refuseObservations | length }}</span></button>
                <div class="panel content-box-attente-observation">
                    {% for observation in refuseObservations %}

                        <div class="card box-card">
                            <img class="card-img-top" src="{{ asset('uploads/observation/' ~ observation.photo) }}"
                                 alt="Card image cap">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <center>Refusé par {{ observation.refuserPar.nom }}</center>
                                </li>
                                <li class="list-group-item">{{ observation.nomEspece }}</li>
                                <li class="list-group-item">{{ observation.nbIndividus }} individus</li>
                                <li class="list-group-item">{{ observation.dateObservation | date('d-m-Y') }}</li>
                                <li class="list-group-item">Coordonnées GPS : {{ observation.latitude }} ,
                                    {{ observation.longitude }} </li>
                                <li class="list-group-item">{{ observation.user.nom }} {{ observation.user.prenom }}</li>
                            </ul>

                        </div>

                    {% endfor %}
                </div>
                {# Observation à valider #}
                <button class="accordion">Mes observations à valider <span class="badge badge-info">{{ observations_a_valider | length }}</span></button>
                <div class="panel content-box-attente-observation">
                    {% for observation in observations_a_valider %}

                        <div class="card box-card">
                            <img class="card-img-top" src="{{ asset('uploads/observation/' ~ observation.photo) }}"
                                 alt="Card image cap">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">{{ observation.nomEspece }}</li>
                                <li class="list-group-item">{{ observation.nbIndividus }} individus</li>
                                <li class="list-group-item">{{ observation.dateObservation | date('d-m-Y') }}</li>
                                <li class="list-group-item">Coordonnées GPS : {{ observation.latitude }} ,
                                    {{ observation.longitude }} </li>
                                <li class="list-group-item">{{ observation.user.nom }} {{ observation.user.prenom }}</li>
                            </ul>
                            <a href="{{ path('valider-observation',{observation: observation.id}) }}"
                               class="btn btn-success valid-btn">Valider</a>
                            <a href="{{ path('refuser-observation',{observation: observation.id}) }}"
                               class="btn btn-danger refuse-btn">Refuser</a>

                        </div>

                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 5,
                center: new google.maps.LatLng(46.52863469527167,2.43896484375)
            });
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key={{ container.parameter('api_map_key') }}&callback=initMap"></script>

    <script type="text/javascript">
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].onclick = function () {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                    panel.style.maxHeight = null;
                } else {
                    panel.style.maxHeight = panel.scrollHeight + "px";
                }
            }
        }

        //enlever le flash message après 4s
        setTimeout(function () {
            $("#delais").fadeOut('normal', function () {
                $(this).remove();
            });
        }, 4000);

    </script>


{% endblock %}