{% block title %} Mon compte {% endblock %}
{% extends 'base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('date-picker/css/bootstrap-datepicker.css') }}">

    <style type="text/css">
        .datepicker table {
            width: 457px;
        }
    </style>
{% endblock %}

{% block body %}
<div style="background: #F8FAF6;margin-bottom: -40px;padding: 1px 0 45px;">
    <div class="container accordeon-box">
        <div class="row">
            <div class="titre-h2"><h2>Mon espace</h2></div>
        </div>

        <div class="row">
            <div class="txt-bienvenue" style="width:97%">
                <h3>Bonjour, <strong>{{ app.user.nom }} {{ app.user.prenom }}</strong> </br> Bienvenue dans votre espace
                </h3>
            </div>

            {% if app.session.flashBag.has('success') %}
                <div class="txt-bienvenue" id="delais">
                    {% for flash in app.session.flashBag.get('success') %}
                        <h3>{{ flash }}</h3>
                    {% endfor %}
                </div>
            {% endif %}

        </div>
        <div class="row">
            <button class="accordion">Mon profil</button>
            <div class="panel">
                <form class="acc-profil-form" method="post"
                      action="{{ path('nao.modifier.compte',{ user: app.user.id}) }}">
                    <div class="row acc-profil">
                        <div class="col">
                            <div class="form-group">
                                <label for="prenom">Prénom </label>
                                <input type="text" class="form-control" name="prenom" id="prenom"
                                       value="{{ app.user.prenom }}">
                            </div>
                            <div class="form-group">
                                <label for="nom">Nom </label>
                                <input type="text" class="form-control" name="nom" id="nom" value="{{ app.user.nom }}">
                            </div>
                            <div class="form-group">
                                <label for="pseudo">Pseudo </label>
                                <input type="text" class="form-control" id="pseudo" name="pseudo"
                                       value="{{ app.user.pseudo }}">
                            </div>


                            <button type="submit" name="modifier" class="btn btn-default">Valider</button>

                            <button type="submit" name="supprimer"> Supprimer mon compte</button>


                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="email">Adresse e-mail</label>
                                <input type="email" class="form-control" name="email" id="email"
                                       value="{{ app.user.email }}">
                            </div>
                            <div class="form-group">
                                <label for="date">Date de naissance </label>
                                <input type="text" class="form-control" name="date_de_naissance" id="dob"
                                       value="{{ app.user.birthdate | date('d-m-Y') }}">
                            </div>
                            <div class="form-group">
                                <label for="role">Vous êtes </label>

                                <select class="form-control" style="margin-top: 0 !important;" name="role" id="sel1">

                                    <option {% if(app.user.roles[0]=="ROLE_USER") %} selected
                                                                                     {% endif %}value="Particulier">
                                        Particulier
                                    </option>
                                    <option {% if(app.user.roles[0]=="ROLE_NATURALIST") %} selected {% endif %}
                                            value="Naturaliste">Naturaliste
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>


            </div>
            <div id="lastObservation"></div>
            <button class="accordion">Les dernières observations</button>
            <div class="panel content-box-last-observation">
                {#
                             SI les derniere observation sont inférieur ou égale 5
             #}
                <div class="default-content">
                    {% for observation in lastObservations |slice(0,6) %}
                        <div class="card box-card">
                            <img class="card-img-top" src="{{ asset('uploads/observation/' ~ observation.photo) }}"
                                 alt="Card image cap">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><strong
                                            style="text-transform: uppercase">{{ observation.nomEspece }}</strong></li>
                                <li class="list-group-item">{{ observation.nbIndividus }} individus</li>
                                <li class="list-group-item">{{ observation.dateObservation | date('d-m-Y') }}</li>
                                <li class="list-group-item">Coordonnées GPS : {{ observation.latitude }} ,
                                    {{ observation.longitude }} </li>
                                <li class="list-group-item">{{ observation.user.nom }} {{ observation.user.prenom }}</li>
                            </ul>
                            <form action="{{ path('aves_submit') }}" method="post">
                                <input type="hidden" value="{{ observation.nomEspece }}" name="key">
                                <button type="submit" class="btn btn-primary btn-right-view">Voir</button>
                            </form>
                        </div>
                    {% endfor %}
                    {% if lastObservations |length >6 %}
                        <a href="#lastObservation"><p class="more-content">Afficher tout</p></a>
                    {% endif %}
                </div>
                {#
                                SI les derniere observation sont plus de 10
                #}
                {% if lastObservations|length != 0 %}
                <div class="all-content" style="display: none; overflow-y: scroll; width:101%;height:300px;max-height:300px">
                    {% for observation in lastObservations %}
                    <div class="card box-card">
                        <img class="card-img-top" src="{{ asset('uploads/observation/' ~ observation.photo) }}"
                             alt="Card image cap">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong
                                    style="text-transform: uppercase">{{ observation.nomEspece }}</strong></li>
                            <li class="list-group-item">{{ observation.nbIndividus }} individus</li>
                            <li class="list-group-item">{{ observation.dateObservation | date('d-m-Y') }}</li>
                            <li class="list-group-item">Coordonnées GPS : {{ observation.latitude }} ,
                                {{ observation.longitude }} </li>
                            <li class="list-group-item">{{ observation.user.nom }} {{ observation.user.prenom }}</li>
                        </ul>
                        <form action="{{ path('aves_submit') }}" method="post">
                            <input type="hidden" value="{{observation.nomEspece}}" name="key">
                            <button type="submit" class="btn btn-primary btn-right-view">Voir</button>
                        </form>
                    </div>
                    {% endfor %}
                    {% if lastObservations|length > 6 %}
                        <a href="#lastObservation"><p class="sample-content">Moins</p></a>
                    {% endif %}
                </div>
                {% endif %}


            </div>


            {% if(app.user.roles[0]=='ROLE_USER') %}
            {#Observation validé#}
                <button class="accordion">Mes observations validées {{ observations |length }}</button>
                <div class="panel content-box-my-observation">
                    <div class="default-content">
                        {% for observation in observations|slice(0,6) %}
                        <div class="card box-card">
                            <img class="card-img-top" src="{{ asset('uploads/observation/' ~ observation.photo) }}"
                                 alt="Card image cap">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">{{ observation.nomEspece }}</li>
                                <li class="list-group-item">{{ observation.nbIndividus }}</li>
                                <li class="list-group-item">{{ observation.dateObservation | date('d-m-Y') }}</li>
                                <li class="list-group-item">Coordonnées GPS : {{ observation.latitude }} ,
                                    {{ observation.longitude }} </li>
                                <li class="list-group-item">{{ observation.user.nom }} {{ observation.user.prenom }}</li>
                            </ul>
                        </div>
                    {% endfor %}
                    {% if observations|length > 5 %}
                    <p class="more-content">Afficher tout</p>
                    {% endif %}
                    </div>
                    {% if observations|length != 0 %}
                    <div class="all-content" style="display: none; overflow-y: scroll;height:300px;max-height:300px">
                        {% for observation in observations %}
                        <div class="card box-card">
                            <img class="card-img-top" src="{{ asset('uploads/observation/' ~ observation.photo) }}"
                                 alt="Card image cap">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">{{ observation.nomEspece }}</li>
                                <li class="list-group-item">{{ observation.nbIndividus }}</li>
                                <li class="list-group-item">{{ observation.dateObservation | date('d-m-Y') }}</li>
                                <li class="list-group-item">Coordonnées GPS : {{ observation.latitude }} ,
                                    {{ observation.longitude }} </li>
                                <li class="list-group-item">{{ observation.user.nom }} {{ observation.user.prenom }}</li>
                            </ul>
                        </div>
                        {% endfor %}

                        <p class="sample-content">Moins</p>

                    </div>
                    {% endif %}
                </div>


            {#Observation en attente#}
            <button class="accordion">Mes observations en attente {{ observationsEnAttentes |length }}</button>
                <div class="panel content-box-my-observation">
                    <div class="default-content">
                        {% for observation in observationsEnAttentes|slice(0,5) %}
                            <div class="card box-card">
                                <img class="card-img-top" src="{{ asset('uploads/observation/' ~ observation.photo) }}"
                                     alt="Card image cap">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">{{ observation.nomEspece }}</li>
                                    <li class="list-group-item">{{ observation.nbIndividus }}</li>
                                    <li class="list-group-item">{{ observation.dateObservation | date('d-m-Y') }}</li>
                                    <li class="list-group-item">Coordonnées GPS : {{ observation.latitude }} ,
                                        {{ observation.longitude }} </li>
                                    <li class="list-group-item">{{ observation.user.nom }} {{ observation.user.prenom }}</li>
                                </ul>
                            </div>
                        {% endfor %}
                        {% if observationsEnAttentes|length > 5 %}
                            <p class="more-content">Afficher tout</p>
                        {% endif %}

                    </div>
                    {% if observationsEnAttentes|length != 0 %}
                    <div class="all-content" style="display: none; overflow-y: scroll;height:300px;max-height:300px">
                        {% for observation in observationsEnAttentes %}
                        <div class="card box-card">
                            <img class="card-img-top" src="{{ asset('uploads/observation/' ~ observation.photo) }}"
                                 alt="Card image cap">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">{{ observation.nomEspece }}</li>
                                <li class="list-group-item">{{ observation.nbIndividus }}</li>
                                <li class="list-group-item">{{ observation.dateObservation | date('d-m-Y') }}</li>
                                <li class="list-group-item">Coordonnées GPS : {{ observation.latitude }} ,
                                    {{ observation.longitude }} </li>
                                <li class="list-group-item">{{ observation.user.nom }} {{ observation.user.prenom }}</li>
                            </ul>
                        </div>
                        {% endfor %}

                        <p class="sample-content">Moins</p>

                    </div>
                    {% endif %}
                </div>

            {#Observation refusés#}
                <button class="accordion display-none-mobile">Mes observations refusées {{ mesObervationRefuser |length }}</button>
                <div class="panel content-box-my-observation">
                    <div class="default-content">
                        {% for observation in mesObervationRefuser |slice(0,5) %}
                            <div class="card box-card">
                                <img class="card-img-top" src="{{ asset('uploads/observation/' ~ observation.photo) }}"
                                     alt="Card image cap">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">{{ observation.nomEspece }}</li>
                                    <li class="list-group-item">{{ observation.nbIndividus }}</li>
                                    <li class="list-group-item">{{ observation.dateObservation | date('d-m-Y') }}</li>
                                    <li class="list-group-item">Coordonnées GPS : {{ observation.latitude }} ,
                                        {{ observation.longitude }} </li>
                                    <li class="list-group-item">{{ observation.user.nom }} {{ observation.user.prenom }}</li>
                                </ul>
                            </div>
                        {% endfor %}
                        {% if mesObervationRefuser|length > 5 %}
                        <p class="more-content">Afficher tout</p>
                        {% endif %}
                     </div>
                    {% if mesObervationRefuser|length != 0 %}
                    <div class="all-content" style="display: none; overflow-y: scroll;height:300px;max-height:300px">
                        {% for observation in mesObervationRefuser  %}
                        <div class="card box-card">
                            <img class="card-img-top" src="{{ asset('uploads/observation/' ~ observation.photo) }}"
                                 alt="Card image cap">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">{{ observation.nomEspece }}</li>
                                <li class="list-group-item">{{ observation.nbIndividus }}</li>
                                <li class="list-group-item">{{ observation.dateObservation | date('d-m-Y') }}</li>
                                <li class="list-group-item">Coordonnées GPS : {{ observation.latitude }} ,
                                    {{ observation.longitude }} </li>
                                <li class="list-group-item">{{ observation.user.nom }} {{ observation.user.prenom }}</li>
                            </ul>
                        </div>
                        {% endfor %}

                        <p class="sample-content">Moins</p>

                    </div>
                    {% endif %}
                </div>


            {% endif %}

            {% if(app.user.roles[0]=='ROLE_NATURALIST') %}
                {# Observations validé#}
                <button class="accordion">Mes Observations {{ valideObservations|length }}</button>
                <div class="panel content-box-attente-observation">
                    {% for observation in valideObservations %}

                        <div class="card box-card">
                            <img class="card-img-top" src="{{ asset('uploads/observation/' ~ observation.photo) }}"
                                 alt="Card image cap">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    {% if observation.validerPar.nom is defined %}
                                        <center>Validé par {{ observation.validerPar.nom }}</center>
                                    {% endif %}

                                </li>
                                <li class="list-group-item">{{ observation.nomEspece }}</li>
                                <li class="list-group-item">{{ observation.nbIndividus }} individus</li>
                                <li class="list-group-item">{{ observation.dateObservation | date('d-m-Y') }}</li>
                                <li class="list-group-item">Coordonnées GPS : {{ observation.latitude }} ,
                                    {{ observation.longitude }} </li>
                                <li class="list-group-item">{{ observation.user.nom }} {{ observation.user.prenom }}</li>
                            </ul>
                            <form action="{{ path('aves_submit') }}" method="post">
                                <input type="hidden" value="{{observation.nomEspece}}" name="key">
                                <button type="submit" class="btn btn-primary btn-right-view">Voir</button>
                            </form>

                        </div>
                    {% endfor %}
                </div>
                {#Observation refuse#}
                {#<button class="accordion display-none-mobile">Mes Observations refusés {{ refuseObservations | length }}</button>
                <div class="panel content-box-attente-observation">
                    {% for observation in refuseObservations %}

                        <div class="card box-card">
                            <img class="card-img-top" src="{{ asset('uploads/observation/' ~ observation.photo) }}"
                                 alt="Card image cap">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <center>Refusé par {{ observation.refuserPar.nom }}</center>
                                </li>
                                <li class="list-group-item">{{ observation.nomEspece }}</li>
                                <li class="list-group-item">{{ observation.nbIndividus }} individus</li>
                                <li class="list-group-item">{{ observation.dateObservation | date('d-m-Y') }}</li>
                                <li class="list-group-item">Coordonnées GPS : {{ observation.latitude }} ,
                                    {{ observation.longitude }} </li>
                                <li class="list-group-item">{{ observation.user.nom }} {{ observation.user.prenom }}</li>
                            </ul>

                        </div>

                    {% endfor %}
                </div>#}
                {# Observation à valider #}
                <button class="accordion">Mes observations à valider {{ observations_a_valider | length }}</button>
                <div class="panel content-box-attente-observation">
                    <div class="default-content">
                        {% for observation in observations_a_valider |slice(0,5) %}
                            <div class="card box-card">
                                <img class="card-img-top" src="{{ asset('uploads/observation/' ~ observation.photo) }}"
                                     alt="Card image cap">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">{{ observation.nomEspece }}</li>
                                    <li class="list-group-item">{{ observation.nbIndividus }} individus</li>
                                    <li class="list-group-item">{{ observation.dateObservation | date('d-m-Y') }}</li>
                                    <li class="list-group-item">Coordonnées GPS : {{ observation.latitude }} ,
                                        {{ observation.longitude }} </li>
                                    <li class="list-group-item">{{ observation.user.nom }} {{ observation.user.prenom }}</li>
                                </ul>
                                <a href="{{ path('valider-observation',{observation: observation.id}) }}"
                                   class="btn btn-success valid-btn">Valider</a>
                                <a href="{{ path('refuser-observation',{observation: observation.id}) }}"
                                   class="btn btn-danger refuse-btn">Refuser</a>

                            </div>
                        {% endfor %}
                        {% if observations_a_valider |length > 5 %}
                        <p class="more-content">Afficher tout</p>
                        {% endif %}
                   </div>
                    {% if observations_a_valider |length != 0 %}
                    <div class="all-content" style="display: none; overflow-y: scroll;height:300px;max-height:300px">
                        {% for observation in observations_a_valider %}
                        <div class="card box-card">
                            <img class="card-img-top" src="{{ asset('uploads/observation/' ~ observation.photo) }}"
                                 alt="Card image cap">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">{{ observation.nomEspece }}</li>
                                <li class="list-group-item">{{ observation.nbIndividus }} individus</li>
                                <li class="list-group-item">{{ observation.dateObservation | date('d-m-Y') }}</li>
                                <li class="list-group-item">Coordonnées GPS : {{ observation.latitude }} ,
                                    {{ observation.longitude }} </li>
                                <li class="list-group-item">{{ observation.user.nom }} {{ observation.user.prenom }}</li>
                            </ul>
                            <a href="{{ path('valider-observation',{observation: observation.id}) }}"
                               class="btn btn-success valid-btn">Valider</a>
                            <a href="{{ path('refuser-observation',{observation: observation.id}) }}"
                               class="btn btn-danger refuse-btn">Refuser</a>

                        </div>
                        {% endfor %}
                        <p class="sample-content">Moins</p>
                    </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('date-picker/js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('date-picker/locales/bootstrap-datepicker.fr.min.js') }}"></script>
    <script type="text/javascript">
        $(".more-content").click(function(){

            $(".all-content").fadeIn(1000).css("display", "block");
            $(".default-content").fadeOut(1000).css("display", "none");

            /* $(".default-content").css("display","none");
             $(".all-content").css("display","block");*/
        });
        $(".sample-content").click(function(){
            $(".all-content").fadeIn(1000).css("display", "none");
            $(".default-content").fadeOut(1000).css("display", "block");

            /*
               $(".default-content").css("display","block");
               $(".all-content").css("display","none");*/
        });
    </script>
    <script type="text/javascript">
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].onclick = function () {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                    panel.style.maxHeight = null;
                } else {
                    panel.style.maxHeight = panel.scrollHeight + "px";
                }
            }
        }

        //enlever le flash message après 4s
        setTimeout(function () {
            $("#delais").fadeOut('normal', function () {
                $(this).remove();
            });
        }, 4000);


        $('input[name="date_de_naissance"]').datepicker({
            autoclose: true,
            todayHighlight: true,
            endDate: "now",
            format: "dd-mm-yyyy",
            language: 'fr',
            orientation: "bottom"
        });

    </script>
{% endblock %}