{% block title %} Mon Observation {% endblock %}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('date-picker/css/bootstrap-datepicker.css') }}">

    <style type="text/css">
        #map {
            height: 400px;
            width: 100%;
        }

        #ma-photos {
            margin: 20px;
            padding: 20px;
            border: 1px solid;
            background: #ccc;
        }

        .datepicker table{
            width: 457px;
        }
    </style>
{% endblock %}

{% block body %}
    <section id="notreprojet" class="sect-observation">
        <div class="container observation-block">
            {% if app.session.flashBag.has('success') %}
                <div class="row">
                    <div id="delai" class="col-md-12 alert alert-success"
                         style="margin: 2px 8px; position: absolute; display: table; width: 72%; z-index: 100; opacity: 0.9;color:#000;">
                        {% for flash in app.session.flashBag.get('success') %}
                            <div class="alert alert-success">
                                <p>{{ flash }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <form action="{{ path('save-observation') }}" method="post" enctype="multipart/form-data" novalidate>
                <div class="row">
                    <div class="col">
                        <h2>Entrer votre observation</h2>

                        <div class="form-group">
                        <label>Nombre d'individus</label>
                        <input type="number" class="form-control" name="nb_especes"
                               placeholder="Nombre d'individus"
                               value="{{ (old_value.nb_especes is defined) ? old_value.nb_especes : '' }}" required>
                        {% if error_observation.nbIndividus is defined %}
                            <em style="float: right; color: #AA3333; font-size: 13px;">{{ error_observation.nbIndividus }}</em>
                        {% endif %}
                    </div>
                        <div class="form-group">
                            <label>Date</label>
                            <input type="text" class="form-control" name="date_obs"
                                   value="{{ (old_value.date_obs is defined) ? old_value.date_obs : "now"|date("d-m-Y") }}" readonly placeholder="Date d'obervation" required>
                            {% if error_observation.dateObservation is defined %}
                                <em style="float: right; color: #AA3333; font-size: 13px;">{{ error_observation.dateObservation }}</em>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label>Coordeonnées GPS</label>
                            <input type="text" class="form-control" name="latitude" id="lat"
                                   placeholder="Lattitude"
                                   value="{{ (old_value.latitude is defined) ? old_value.latitude : '' }}" required>
                            {% if error_observation.latitude is defined %}
                                <em style="float: right; color: #AA3333; font-size: 13px;">{{ error_observation.latitude }}</em>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="long" name="longitude"
                                   placeholder="Longitude"
                                   value="{{ (old_value.longitude is defined) ? old_value.longitude : '' }}" required>
                            {% if error_observation.longitude is defined %}
                                <em style="float: right; color: #AA3333; font-size: 13px;">{{ error_observation.longitude }}</em>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <input type="file" style="visibility:hidden; display:none;" id="file" name="fichier">
                            <input type="hidden" id="fichier" name="file_mobile">
                            <button type="button" id="btnAddPhoto" onclick="$('#file').click();"
                                    class="btn-ajouter-photo-obs"><img
                                        src="{{ asset('image/AjouterPhoto.png') }}"
                                        class="img-responsive add-img-obs"/>
                            </button>

                            <!-- boutton prendre photo : display: block en mobile -->
                            <!--<button type="button" id="btnAddPhoto" onclick="$('#fichier').click();"
                                    class="btn-prendre-photo-obs">
                                Prendre une photo
                            </button>-->

                            <a onclick="$('#file').click();" class="choixphotos">
                                <span class="file_name"></span>
                            </a>
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg btn-submit-obs">VALIDER</button>
                    </div>
                    <div class="col">
                        <div>
                            <h4>Recherchez ci-dessous une espèce </h4>
                        </div>
                        {% if(espece_not_exist == true and error_observation.nomEspece is not defined) %}
                            <div class="alert alert-danger">
                                <span>Cette espèce n'existe pas</span>
                            </div>
                        {% endif %}
                        <div class="input-group search-observ">
                            <input id="autocomplete" data-url="{{ path('ajax_search') }}"
                                   class="form-control" name="nom_especes"
                                   placeholder="Rechercher une espèce"
                                   value="{{ (old_value.nom_especes is defined) ? old_value.nom_especes : '' }}" required>
                        </div>
                        {% if error_observation.nomEspece is defined %}
                            <div>
                                <em style="float: right; color: #AA3333; font-size: 13px; margin-top: -13px;">{{ error_observation.nomEspece }}</em>
                            </div>
                        {% endif %}
                        <div id="map"></div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" name="type_coordonee" id="position_auto"
                                       class="form-check-input">
                                Coordonnées GPS automatiques
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        </div>
        </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('slick-master/slick/slick.min.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ asset('js/webcam.min.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ asset('js/jquery-ui.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ asset('js/Jquery-2.1.4.min.js') }}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="{{ asset('date-picker/js/bootstrap-datepicker.js')}}"></script>
    <script src="{{ asset('date-picker/locales/bootstrap-datepicker.fr.min.js') }}"></script>

    <script src="{{ asset('js/aves.js') }}"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key={{ container.parameter('api_map_key') }}&callback=initMap"></script>
    <script>
        $(document).ready(function () {
            $('#ma-photos').hide();
        });
        var longText, latText;
        $('#long').on('keyup', function () {
            longText = $('#long').val();
            if ($('#long').val() != " " && $('#lat').val() != " ") {
                initMap(parseFloat($('#lat').val()), parseFloat($('#long').val()));
            }
        });

        $('#lat').on('keyup', function () {
            latText = $('#lat').val();

            if ($('#long').val() != " " && $('#lat').val() != " ") {
                initMap(parseFloat($('#lat').val()), parseFloat($('#long').val()));
            }

        });

        //enlever le flash message après 4s
        setTimeout(function () {
            $("#delai").remove();
        }, 4000);

        //Si l'utilisateur a selectionné coordonnées automatique on ecoute par l'env on click
        $('#position_auto').on('click', function () {
            //Si coordonnes automatique est coché
            if ($('#position_auto').prop('checked')) {
                getCoordGPSAutomatique();
            } else {

            }
        });

        function getCoordGPSAutomatique() {
            var coordonnes = [];
            var long = "";
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (p) {
                    coordonnes.push(p.coords.latitude);
                    coordonnes.push(p.coords.longitude);
                    long = p.coords.longitude;
                    initMap(p.coords.latitude, p.coords.longitude);
                });
            } else {
                alert('Geo Location feature is not supported in this browser.');
            }

        }

        function initMap(latitude, long) {

            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: -34.397, lng: 150.644},
                zoom: 8
            });
            /* event resize */
            google.maps.event.addDomListener(window, "resize", function() {
                var center = map.getCenter();
                google.maps.event.trigger(map, "resize");
                map.setCenter(center);
            });
            infoWindow = new google.maps.InfoWindow({pixelOffset: new google.maps.Size(0, -35)});

            //Si l'utilisateur ne se renseing pas encore sur sa position
            if (latitude == undefined && long == undefined) {
                // on essaye d'abord HTML5 geolocation.
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(success, error, options)

                    //Option de la geolocalisation
                    var options = {
                        enableHighAccuracy: true,
                        timeout: 5000,
                        maximumAge: 0
                    };

                    //Si Geolocalisation de la navigateur avec succès
                    function success(position) {
                        var pos = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude
                        };
                        $('#lat').val('');
                        $('#lat').val(position.coords.latitude);

                        $('#long').val('');
                        $('#long').val(position.coords.longitude);

                        afficherLaCarte(pos);
                    };

                    //Si Erreur de navigateur on  fait appel ipinfo
                    function error(err) {
                        $.get("https://ipinfo.io", function (response) {
                            var position_res = response.loc.split(',');
                            var coordonnes = {
                                lat: parseFloat(position_res[0]),
                                lng: parseFloat(position_res[1])
                            };
                            afficherLaCarte(coordonnes, response.region);
                        }, "jsonp");
                    };
                }
            }
            // Sinon l'utilisateur se renseigne donc on pointe sa position sur la carte
            else {
                var coordonnes = {lat: latitude, lng: long};
                afficherLaCarte(coordonnes);
            }

            // Une fonction qui permet d'afficher  les coordonnées  sur la carte avec nom de la ville
            function afficherLaCarte(coordonnes) {
                getVilleByCoordonnes(coordonnes);
                var contentString = '<div id="content" >' +
                    '<div id="siteNotice">' +
                    '</div>' +
                    '<span id="firstHeading" class="titre" ></span>' +
                    '<small class="form-text text-muted">Lattitude: ' + coordonnes.lat + '</small>' +
                    '<small class="form-text text-muted">Longitude: ' + coordonnes.lng + '</small>' +
                    '<button type="button" class="btn btn-primary btn-sm">' + "Obtenir l'altitude" + '</button>' +
                    '</div>';

                infoWindow.setPosition(coordonnes);
                infoWindow.setContent(contentString);
                infoWindow.open(map);
                map.setCenter(coordonnes);
                var marker = new google.maps.Marker({
                    position: coordonnes,
                    map: map
                });
            }

            // Une fonction qui permet de trouver la ville à partir de coordonnees
            function getVilleByCoordonnes(coordonnes) {
                var geocoder = new google.maps.Geocoder();
                var latlng = new google.maps.LatLng(coordonnes.lat, coordonnes.lng);
                geocoder.geocode({'latLng': latlng}, function (results, status) {
                    var elt = results[0].address_components;
                    for (i in elt) {
                        if (elt[i].types[0] == 'locality') {
                            document.getElementById('firstHeading').innerHTML += '<p>' + elt[i].long_name + '</p>';
                        }
                    }
                });
            }

        }

        $('input[type=file]').change(function (e) {
            var filename = e.target.files[0].name;
            if (null != filename) {
                $('#btnAddPhoto').css('display', 'none');
                $('.file_name').css('display', 'block').html('<p >' + filename + '<p>');
            }
        });
    </script>

    {# Configuration webcam #}
    <script language="JavaScript">
        Webcam.set({
            width: 320,
            height: 240,
            image_format: 'jpeg',
            jpeg_quality: 90,
            video: {
                facingMode:
                    {
                        exact: "environment"
                    }
            }
        });
    </script>
    <script language="JavaScript">
        function setup() {
            Webcam.reset();
            Webcam.attach('#camera');
            $("#annuler").css("display", "block");
        }

        // Action button annuler si le webcam s'affiche
        $("#annuler").click(function () {
            $("#ma-photos").hide();
            $("#camera").hide();
            $("#annuler").hide();
            $("#valide-photo").hide();
            $("#take-photo").show();
        });
        $("#take-photo").click(function () {
            $("#camera").show();
            $("#annuler").show();
            $("#valide-photo").show();
            $("#take-photo").css('display', 'none');
            // $("#take-photo").attr("style", "display: none !important");

        });

        function take_snapshot() {

            Webcam.snap(function (data_uri) {
                $('#fichier').val(data_uri);
                $('#ma-photos').show();
                document.getElementById('ma-photos').innerHTML =
                    '<h2>Ma photos:</h2>' +
                    '<img src="' + data_uri + '" class="img-responsive img-thumbnail"/>';
            });
        }
    </script>

    <script>
        $('input[name="date_obs"]').datepicker({
            autoclose: true,
            todayHighlight: true,
            endDate: "now",
            format: "dd-mm-yyyy",
            language: 'fr',
            orientation: "bottom"
        });
    </script>
{% endblock %}