{% block title %} Accueil {% endblock %}
{% extends 'base.html.twig' %}


{% block stylesheets %}
    <style type="text/css">
        #map {
            height: 600px;
            width: 100%;
        }
    </style>
    {{ parent() }}

{% endblock %}

{% block body %}


    <section id="recherche-espece-submit">
        <div class="container">
            <h1 style="text-align:center; font-size:1.25em; font-weight:bold; margin-bottom :20px;">CARTE DES ESPECES</h1>




            <div style="width:90%;margin: 0 auto">
                <form action="{{ path('aves_submit') }}" method="post">
                    <div class="form-group ">
                        <label for="autocomplete">Tapez le nom d'un oiseau</label> :
                        <div class="input-group">
                            <input name= "key" id="autocomplete" data-url="{{ path('ajax_search') }}" class="form-control">

                            <span class="input-group-btn"><button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button></span>


                        </div>
                    </div>
                </form>
            </div>


            <div id ="map" style="width:90%;margin: 0 auto">

            </div>
        </div>


    </section>


{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{ asset('js/aves.js') }}"></script>
    <script src="{{ asset('slick-master/slick/slick.min.js') }}" type="text/javascript" charset="utf-8"></script>

    <script>
        function initMap() {
            var coordonnes = {lat: 47, lng: 2.43896484375};

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 6,
                center: coordonnes
            });


        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key={{ container.parameter('api_map_key') }}&callback=initMap"></script>
{% endblock %}