{% block title %} Contact {% endblock %}
{% extends 'base.html.twig' %}

{% block body %}
 <div class="container">
    <div class="row">
        <div class="col-md-10 ml-auto">
                    <div class="col-md-9 ml-md-3">

                        <h1 style="font-size:1.25em; font-weight:bold; margin-top:40px;">CONTACTEZ-NOUS!</h1>
                {{ form_start(form) }}

                {# Les erreurs générales du formulaire. #}
                {{ form_errors(form) }}

                {{ form_row(form.email) }}

                <div class="form-group">
                    {{ form_label(form.subject, 'Objet', {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_errors(form.subject) }}
                    {{ form_widget(form.subject, {'attr': {'class': 'form-control'}}) }}
                </div>

                {{ form_row(form.message) }}
                        <input class="btn" style="background: #98C575; color: white;" type="submit" value="VALIDER"/>
                {# Fermeture de la balise <form> du formulaire HTML #}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    </div>

{% endblock %}