{% extends 'base.html.twig' %}
{% block title %} Connexion {% endblock %}

{% block stylesheets %}
    {{ parent() }}
      <link rel="stylesheet" href="{{ asset('date-picker/css/bootstrap-datepicker.css') }}">
    <style type="text/css">
        .form-control {
            border-radius: 0;

        }
        a{
            color:#CF8A5D;
        }
        .form {
            position: relative;
            z-index: 1;
            background: #FFFFFF;

            margin: 0 auto 100px;
            padding: 25px;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        }

        .form h4 {
            text-align: center;
        }

        .btn {
            background: #98C575;
            border-radius: 0;
            color: white;

        }
        h4, h1{
            font-size:1.25em;
            font-weight: bold;
        }
          .datepicker table {
            width: 270px;
        }

    </style>

{% endblock %}

{% block body %}
    <div class="container" id="id-container-login-page">
    <h1 style="text-align:center; margin-top:60px; margin-bottom:30px;font-weight: bold !important;">CONNEXION / INSCRIPTION</h1>


    <div style="background:#CF8A5D;color:white;text-align:center;width: 74%;margin: 0 auto;"><p style="padding-top:10px; margin-bottom :0.1px">
            Bonjour</p>
        <p style="margin-top:0.1px;margin-bottom :0.1px">Veuillez vous connecter ou vous inscrire</p>
        <p style="margin-top:0.1px;padding-bottom :10px">pour accéder à vos observations</p>

    </div>

    <div class="row" style="width: 76%;margin: 0 auto;">

        <div class="col-sm-4">

            <div class="form">
                {% if error %}
                    <div class="alert alert-danger">Adresse email ou mot de passe incorrect</div>
                {% endif %}

                <form class="login-form" action="{{ path('login_check') }}" method="post">
                    <h4>CONNEXION</h4>

                    <div class="form-group">
                        <label for="username"><strong>Adresse email</strong></label>

                        <input type="text" id="username" placeholder="username" name="_username"
                               value="{{ last_username }}" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="password"><strong>Mot de passe</strong></label>
                        <input type="password" placeholder="password" name="_password" class="form-control"/>
                    </div>
                    <input class="btn" type="submit" value="VALIDER"/>

                    <a href="{{ path('password_page') }}">Mot de passe oublié?</a>
                </form>
            </div>
        </div>

        <div class="col-sm-8">


            <div class="form">
                {{ form_start(form) }}
                <h4><strong>INSCRIPTION</strong></h4>
                {{ form_errors(form) }}

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <strong> {{ form_label(form.nom, "Nom", {'label_attr': {'class': 'control-label'}}) }}</strong>
                            {{ form_errors(form.nom) }}
                            {{ form_widget(form.nom) }}
                        </div>

                        <div class="form-group">
                            <strong>{{ form_label(form.prenom, "Prénom", {'label_attr': {'class': 'control-label'}}) }}</strong>
                            {{ form_errors(form.prenom) }}
                            {{ form_widget(form.prenom) }}

                        </div>

                        <div class="form-group">
                            <strong> {{ form_label(form.pseudo, "Pseudo", {'label_attr': {'class': 'control-label'}}) }}</strong>
                            {{ form_errors(form.pseudo) }}
                            {{ form_widget(form.pseudo) }}

                        </div>

                        <div class="form-group" id="id-check-naturalist">
                            {{ form_label(form.isNaturalistRequired) }}
                            {{ form_errors(form.isNaturalistRequired) }}
                            {{ form_widget(form.isNaturalistRequired) }}
                        </div>

                        <div class="form-group" id="id-check-cgu">
                            {{ form_label(form.cgu) }}
                            {{ form_errors(form.cgu) }}
                            {{ form_widget(form.cgu) }}

                        </div>
                        <input class='btn' type="submit" value="S'INSCRIRE" id="id-btn-inscription"/>
                    </div>

                    <div class="col-sm-6" id="id-input-box">

                        <div class="form-group">
                            <strong>{{ form_label(form.email, "Adresse e-mail", {'label_attr': {'class': 'control-label'}}) }}</strong>
                            {{ form_errors(form.email) }}
                            {{ form_widget(form.email) }}

                        </div>

                        <div class="form-group">
                            <strong>{{ form_label(form.password, "Mot de passe", {'label_attr': {'class': 'control-label'}}) }}</strong>
                           {{ form_errors(form.password) }}
                            {{ form_widget(form.password) }}

                        </div>

                        <div class="form-group">
                            <strong>{{ form_label(form.birthdate, "Date de naissance", {'label_attr': {'class': 'control-label'}}) }}</strong>
                            {{ form_errors(form.birthdate) }}
                            {{ form_widget(form.birthdate) }}
                        </div>


                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
        {% block javascripts %}
            {{ parent() }}
          <script src="{{ asset('date-picker/js/bootstrap-datepicker.js') }}"></script>
            <script src="{{ asset('date-picker/locales/bootstrap-datepicker.fr.min.js') }}"></script>
        <script>

            $(document).ready(function() {
                // configure the bootstrap datepicker
                $('.js-datepicker').datepicker({
                       autoclose: true,
                        todayHighlight: true,
                        endDate: "now",
                        format: "dd-mm-yyyy",
                        language: 'fr',
                        orientation: "bottom"
                });
            });
              </script>
        {% endblock %}