{% extends 'base.html.twig' %}
{% block title %} Connexion {% endblock %}

{%  block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="login-page">
        {% if error %}
            <div class="alert alert-danger">{{ error.message }}</div>
        {% endif %}
        <div class="form">
            <form class="login-form" action="{{ path('login_check') }}" method="post">
                <input type="text" id="username" placeholder="username" name="_username" value="{{ last_username }}">
                <input type="password" placeholder="password" name="_password"/>
                <input type="submit" value="connexion">
                <p class="message">Pas encore inscrit? <a href="{{ path('register') }}">Créer un compte</a></p>
            </form>
        </div>
    </div>
</div>
{% endblock %}