{% extends 'base.html.twig' %}
{% block title %} Password {% endblock %}

{%  block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block body %}
<div class="container">

    {% for message in app.session.flashbag.get('info') %}
        <p class="alert alert-info">{{ message }}</p>
    {% endfor %}



    <h1 style="text-align:center; font-size:1.25em; font-weight:bold; margin-bottom :50px; margin-top:40px;">DEMANDE DE NOUVEAU MOT DE PASSE</h1>
    <div class="col-md-10 ml-auto" style="margin-bottom:150px;">
        <div class="col-md-9 ml-md-3">

            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="form-group">
            {{ form_label(form.email, "Entrez votre email", {'label_attr': {'class': 'control-label'}}) }}
            {{ form_errors(form.email) }}
            {{ form_widget(form.email) }}
            </div>

            <input class="btn" style="background: #98C575; color: white;" type="submit" value="VALIDER"/>
            {{ form_end(form) }}
            </div>
</div>

</div>
{% endblock %}